<div li-content-for-blocks="" class="two-products_component">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'product' %}
            <div li-block="Product" class="li-block">
                    
                    <div class="li-product">{% assign product = all_products[section.settings.product_product] %} <a li-object:href="product.url" href="{{ product.url }}" class="two-products_item w-inline-block"><div class="two-products_image-wrapper"><img src="{{ product.featured_image | image_url: width: 1000 }}" loading="lazy" li-object:src="product.featured_image | image_url: width: 1000" li-object:alt="product.title" alt="{{ product.title }}" class="two-products_image">
</div><div class="two-products_content"><div class="margin-bottom margin-xxsmall"><div class="product_meta-wrapper"><div li-object="product.type" class="text-style-capitalize text-size-small text-style-muted">{{ product.type }}</div><div class="text-style-capitalize text-size-small text-style-muted">–</div><div li-object="product.selected_or_first_available_variant.title" class="text-style-capitalize text-size-small text-style-muted">{{ product.selected_or_first_available_variant.title }}</div></div></div><h2 li-object="product.title" class="text-weight-semibold heading-style-h3">{{ product.title }}</h2><div class="button is-underscored-link is-alternate is-icon"><div>View product</div><div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 18 18" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><title>arrow-right</title><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="currentColor"><path d="M15.25 9H2.75"></path><path d="M11 4.75L15.25 9L11 13.25"></path></g></svg></div></div></div><div class="two-products_overlay"></div></a></div>
                    
                </div>
        {% endcase %}
{% endfor %}

</div>

 {% schema %} {"tag":"section","name":"4-products","class":"section-wrapper","blocks":[{"name":"Product","type":"product","settings":[{"id":"product_product","type":"product","label":"Product"}]}],"presets":[{"name":"4-products","category":"Liquify","blocks":[{"type":"product"}]}]} {% endschema %}