<div id="" style="background-color: {{section.settings.background-color}}" class="background-color"><div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="contact7_component"><div class="w-layout-grid contact7_content"><div class="contact7_content-left"><div class="margin-bottom margin-medium"><div class="contact7_heading-wrapper"><div class="margin-bottom margin-small"><h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
</div><p class="text-size-medium"> {{ section.settings.textarea_description }} </p>
</div></div><div class="w-form">{% form 'contact', return_to: '/pages/thank-you', class: 'contact_form' %}
<div class="form_field-wrapper is-double"><div class="form_field-wrapper"><div>First name</div><input placeholder="John Doe" class="form_input" name="contact[first_name]">
</div><div class="form_field-wrapper"><div>Last name</div><input placeholder="John Doe" class="form_input" name="contact[last_name]">
</div></div><div class="form_field-wrapper"><div>Email</div><input placeholder="john.doe@gmail.com" type="email" class="form_input" name="contact[email]">
</div><div class="form_field-wrapper"><div>Message</div><textarea class="form_input is-text-area w-input" maxlength="5000" name="contact[body]" data-name="Body 3" placeholder="Message" id="Body-3" required=""></textarea></div><label id="Contact-5-Checkbox" class="w-checkbox form_checkbo-field" name="contact[checkbox]"><div class="w-checkbox-input w-checkbox-input--inputType-custom form_checkbox-icon"></div><input type="checkbox" name="Accept-legal-2" id="Accept-legal-2" data-name="Accept Legal 2" required="" style="opacity:0;position:absolute;z-index:-1">
<span for="Accept-legal-2" class="form_checkbox-label text-size-small w-form-label">
{{ section.settings.text_checkbox_label }}
</span>
</label><input type="submit" data-wait="Please wait..." class="button w-button" value="Submit">
{% if form.posted_successfully? %}    <div li-if="form.posted_successfully?" class="form_succes-state">
    <div class="flex-h is-gap-small"><div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 12 12" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><title>check</title><g fill="currentColor"><path d="M10.293,1.293,4,7.586,1.707,5.293A1,1,0,0,0,.293,6.707l3,3a1,1,0,0,0,1.414,0l7-7a1,1,0,0,0-1.414-1.414Z" fill="currentColor"></path></g></svg></div><div class="text-font-headings text-weight-semibold">Success!</div></div><p> {{ section.settings.textarea_form_success_message }} </p>
    </div>
{% endif %}{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div><div class="contact7_image-wrapper"><img loading="lazy" alt="{{ section.settings.image_image.alt }}" src="{{ section.settings.image_image | img_url: 'master' }}" class="contact7_image">
</div></div></div></div></div></div></div><div class="hide w-embed"></div>
 {% schema %} {"tag":"section","name":"contact-v2","class":"section_contact7","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Contact us"},{"id":"textarea_description","type":"textarea","label":"Description","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit."},{"id":"text_checkbox_label","type":"text","label":"Checkbox label","default":"I accept the Terms"},{"id":"textarea_form_success_message","type":"textarea","label":"Form Success Message","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. "},{"id":"image_image","type":"image_picker","label":"Image"},{"type":"color","id":"background-color","label":"Background Color","default":"#f0f0f2"}],"presets":[{"name":"contact-v2","category":"Liquify","blocks":[]}]} {% endschema %}