<div style="background-color: {{section.settings.background-color}}" class="background-color"><div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="logo-callout_component"><div class="text-align-center"><div class="max-width-large align-center"><div class="margin-bottom margin-small"><h2>
{{ section.settings.text_title }}
</h2>
</div><div class="margin-bottom margin-small"><p class="text-size-medium"> {{ section.settings.textarea_description }} </p>
</div><div li-content-for-blocks="" class="logo-callout_logo-row">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'logo' %}
            <div li-block="Logo" class="li-block">
                    <img loading="lazy" alt="{{ block.settings.image_image.alt }}" src="{{ block.settings.image_image | img_url: 'master' }}" class="logo-callout_logo">

                </div>
        {% endcase %}
{% endfor %}

</div>

<div class="margin-top margin-medium"><div class="button-group is-center"><a data-wf--module-button-primary--variant="base" href="{{ section.settings.url_primary_button_link }}" class="button is-icon w-inline-block"> <div>{{ section.settings.text_primary_button_label }}</div><div data-w-id="64fe5f88-e72c-dffb-a813-38578064b7ca" class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1 4L16 4L15.261 4" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16 6.39998V1.59998L19.2 3.99998L16 6.39998Z" fill="currentColor" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path></svg></div> </a>
<a href="{{ section.settings.url_secondary_button_link }}" class="button is-alternate w-inline-block"> <div>{{ section.settings.text_secondary_button_label }}</div> </a>
</div></div></div></div></div></div></div></div></div><div class="hide w-embed"></div>
 {% schema %} {"tag":"section","name":"feature-center-logos","class":"section_logo-callout","blocks":[{"name":"Logo","type":"logo","settings":[{"id":"image_image","type":"image_picker","label":"Image"}]}],"settings":[{"id":"text_title","type":"text","label":"Title","default":"Medium length section heading goes here"},{"id":"textarea_description","type":"textarea","label":"Description","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat."},{"id":"url_primary_button_link","type":"url","label":"Primary Button -> Link"},{"id":"text_primary_button_label","type":"text","label":"Primary Button -> Label","default":"Shop now"},{"id":"url_secondary_button_link","type":"url","label":"Secondary Button -> Link"},{"id":"text_secondary_button_label","type":"text","label":"Secondary Button -> Label","default":"view collections"},{"type":"color","id":"background-color","label":"Background Color","default":"#EDEDE9"}],"presets":[{"name":"feature-center-logos","category":"Liquify","blocks":[{"type":"logo"}]}]} {% endschema %}